img.loader-image {
    height: 64px;
    margin-left: -21px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.custom-loading {
    text-align: center;
    width: 100%;
    z-index:9999;
    height: 100%;
    position: absolute;
    top: 0;
    min-height: 75rem;
    background:  #152433
}

.custom-loading .custom-loading-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -2.6rem
}

.custom-loading .app-loading-spinner {
    margin: 4rem 2rem 1rem
}

.custom-loading .textwrapper {
    margin-top: -8.4rem
}

.custom-loading .loadingtext {
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.1rem;
    position: relative;
    display: inline-block
}

.custom-loading .animation-container * {
    position: relative;
    margin: 0 auto
}

.custom-loading .scalingsymbol {
    height: 100%;
    width: 100%
}

.ie .custom-loading .logolabels {
    margin-top: -18rem
}

.custom-loading .logolabels {
    position: absolute;
    margin: -14rem 0 0 13rem;
    width: 7.5rem
}

.custom-loading .teamlogo {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.custom-loading .team-logo-color {
    fill: #fff
}

.custom-loading .teamslogo-anim {
    width: 16rem;
    height: 496rem;
    animation: 0.65s steps(30) both animate-logo
}

.custom-loading .dot {
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    display: inline-block;
    opacity: 0
}

.custom-loading .showone {
    animation: 2.3s forwards infinite showdot-one
}

.custom-loading .showtwo {
    animation: 2.3s forwards infinite showdot-two
}

.custom-loading .showthree {
    animation: 2.3s forwards infinite showdot-three
}

.custom-loading-stripe {
    background: #fff;
    height: 100%
}

.custom-loading-stripe .custom-loading {
    margin: 5rem
}

.custom-loading-stripe .custom-loading h1 {
    display: inline
}
.custom-tabs-gallery .custom-loading-indicator {
    margin: 2rem 0;
    text-align: center
}
.td-apps-gallery .custom-loading-indicator {
    text-align: center
}
@keyframes showdot-one {
    4%,100% {
        opacity: 0
    }

    5%,99% {
        opacity: 1
    }
}

@keyframes showdot-two {
    29%,100% {
        opacity: 0
    }

    30%,99% {
        opacity: 1
    }
}

@keyframes showdot-three {
    59%,100% {
        opacity: 0
    }

    60%,99% {
        opacity: 1
    }
}
